* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epunda Slab", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(200deg, #8db65d 0%, #4f602f 100%);
}