/* css pagina inicial  */
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1{
  color: #8db65d;
  font-size: 32px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #4f602f;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button{
    border-radius: 30px;
    background-color: #8db65d;
    color: #4f602f;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border: 1px solid #2c3817;
    border-radius: 30px;
    height: 40px;
    background-color: #8db65d;
    color: #4f602f;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: #4f602f;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & p{
    color: #8db65d;
    font-weight: bold;
  }

  & button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}